@media screen and (max-width: 1130px) {
  main {
    transform: scale(0.8);
    gap: 2rem;
  }
}
@media screen and (max-width: 915px) {
  main {
    transform: clamp(scale(0.1), 2vw, scale(0.7));
    gap: 2rem;
  }
}
@media screen and (max-width: 890px) {
  :root {
    font-size: 20px;
  }
  main {
    display: flex;
    flex-direction: column;
    transform: scale(1);
  }
  .profile {
    align-items: center;
    height: 23rem;
    pointer-events: none;
    text-align: center;
    transition: all 0.25s ease;
  }
  .pImg {
    width: 6rem;
    height: 6rem;
    pointer-events: fill;
  }
  .profile p {
    margin-top: 1rem;
  }
  .profile i {
    display: none;
  }
  .profile .bio {
    margin-block: 1rem;
    display: block;
  }
  .bTitle {
    margin-bottom: 0.5rem;
  }
  .navs {
    flex-direction: row;
    justify-content: center;
  }
  .nav-bar {
    width: 29rem;
  }
  .cards {
    display: flex;
    flex-direction: column;
  }
  .card {
    width: 29rem;
    height: 14rem;
  }
}
@media screen and (max-width: 600px) {
  :root {
    font-size: 14px;
  }
}
@media screen and (max-width: 460px) {
  :root {
    font-size: 13px;
  }
}
@media screen and (max-width: 390px) {
  :root {
    font-size: 12px;
  }
  p {
    font-size: 1.2rem !important;
  }
}
@media screen and (max-width: 365px) {
  :root {
    font-size: 10px;
  }
}
