@media screen and (max-width: 30rem) {
  :root {
    font-size: 14px;
  }
  body {
    padding: 1rem;
  }
}
@media screen and (max-width: 20rem) {
  :root {
    font-size: 12px;
  }
}
@media screen and (max-width: 10rem) {
  :root {
    font-size: 8px;
  }
}
