@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400&display=swap");
@import url("font-awesome/css/fontawesome-all.min.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: roboto;
}
:root {
  font-size: 16px;
}
button {
  cursor: pointer;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  position: relative;
}
a {
  text-decoration: none;
}
a:active {
  color: #282828;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: #f1f1f1;
  padding: 2rem;
}
a:has(#logo) {
  margin-bottom: 2rem;
  user-select: none;
}
#logo {
  height: 7rem;
}
a:has(#logo):focus {
  outline: none;
  border: none;
}
.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
option,
select,
option:disabled {
  text-transform: capitalize;
  color: #ffffff;
  border: none;
}
select {
  cursor: pointer;
  margin-right: 0;
  height: 100%;
  padding: 0.25rem;
  background: steelblue;
  outline: none;
  padding: 0.5rem;
}
select:focus {
  outline: 1px solid rgb(59, 111, 154);
  border: none;
}
#searchBar {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 0.35rem 2rem;
  height: 100%;
  border: 1px solid #979797;
  width: 23vw;
}
#searchBar:focus {
  outline: 1px solid black;
}
#searchBar::placeholder {
  text-transform: capitalize;
}
.search-bar {
  position: relative;
}
.search-bar label i {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8rem;
}
.search-bar .fa-magnifying-glass {
  left: 1rem;
  pointer-events: none;
}
i.fa-x {
  cursor: pointer;
  left: calc(100% - 1rem);
  display: none;
  filter: opacity(0.8);
  transition: filter 0.25s ease;
}
#searchBar:valid ~ label i.fa-x {
  display: block;
}
i.fa-x:hover {
  filter: opacity(1);
}
.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 3rem;
  width: 100%;
}
.contents .heads {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.heads > div {
  width: 100%;
  padding-block: 0.5rem;
}
.head {
  flex: 1;
  font-weight: 700;
  text-transform: capitalize;
}
ul {
  width: 100%;
}
.content {
  width: 100%;
  padding-block: 0.5rem;
  background: white;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  transition: background 0.25s ease;
}
.content:hover {
  background: #c7c7c7;
}
.content div {
  flex: 1;
}
.bname {
  text-transform: capitalize;
}
.prov {
  text-transform: uppercase;
}
label {
  cursor: pointer;
}
input[type="radio"] ~ label i {
  margin-left: 0.5rem;
}
input[type="radio"] {
  display: none;
}
footer {
  padding: 1rem;
  width: 100%;
  background: #282828;
  color: rgb(210, 210, 210);
  display: flex;
  align-items: center;
  justify-content: center;
}
footer a {
  color: rgb(255, 255, 255);
  cursor: pointer;
  text-decoration: none;
  margin-left: 0.5rem;
}
.arrow_up {
  padding: 0.75rem;
  border-radius: 50%;
  scale: 0;
  cursor: pointer;
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  background: #c7c7c7;
  transition: scale 0.25s cubic-bezier(0.17, 0.67, 0.77, 1.81);
}
.arrow_up.active {
  scale: 1;
}
.arrow_up i {
  font-size: 1.5rem;
}
.arrow_up.active:active {
  scale: 0.8;
}
