@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
body {
  font-family: karla;
}
:root {
  --bright-yellow: hsl(71, 73%, 54%);
  --cyan: hsl(179, 62%, 43%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
  font-size: 16px;
}
.head {
  background-color: rgb(236, 236, 236);
  float: left;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  margin-left: 23%;
  width: 55%;
  height: 5%;
  margin-top: 5%;
  padding-bottom: 3%;
}

h2 {
  color: var(--cyan);
  margin-left: 5%;
}

h3 {
  margin-left: 5%;
  color: var(--bright-yellow);
}

h5 {
  margin-left: 5%;
}

p {
  margin-left: 5%;
}

h4 {
  margin-left: 5%;
}

.two {
  background-color: var(--cyan);
  float: left;
  width: 28%;
  margin-left: 23%;
  padding-bottom: 10%;
  color: var(--light-gray);
  border-bottom-left-radius: 2%;
}

h1 {
  margin-left: 5%;
}

button {
  margin-left: 7%;
  padding-left: 30%;
  padding-right: 30%;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: var(--bright-yellow);
  border: none;
}

.three {
  background-color: var(--cyan);
  float: left;
  width: 27%;
  padding-bottom: 9%;
  color: var(--light-gray);
  border-bottom-right-radius: 2%;
}
