@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
::selection {
  background: #979797;
  color: black;
}
::-webkit-scrollbar {
  width: 0px;
}
:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --very-dark-blue-1: hsl(217, 54%, 11%);
  --very-dark-blue-2: hsl(216, 50%, 16%);
  --very-dark-blue-3: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
  font-size: 18px;
  font-family: "Outfit";
}
img {
  user-select: none;
}
h1 {
  font-size: 1.2rem;
}
h2 {
  font-size: 1rem;
}
p {
  font-size: 0.85rem;
  line-height: 1.5rem;
  color: var(--soft-blue);
}
body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: var(--very-dark-blue-1);
  padding: 4rem 2rem;
}
main {
  min-height: 18rem;
  min-width: 18rem;
  padding-top: 1.3rem;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  background: var(--very-dark-blue-2);
  border-radius: 1rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
.top {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: min-content;
  border-radius: 0.5rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.top .nft-img {
  width: 100%;
  height: 100%;
  transition: transform 1s cubic-bezier(0.07, 0.24, 0, 1);
}
.top .eye-icon {
  position: absolute;
  width: 100%;
  padding: rem;
  object-fit: contain;
  background: hsla(178, 100%, 50%, 0.197);
  height: 100%;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.35s ease, padding 0.25s ease;
}
.bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.75rem;
}
.vals {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  border-bottom: 1px solid var(--very-dark-blue-3);
  padding-bottom: 1rem;
}
.vals section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.val {
  color: var(--cyan);
  width: 9ch;
  font-weight: 600;
}
.val img {
  width: 11.5px;
  height: 15px;
  object-fit: contain;
  transition: transform 0.25s ease, filter 0.25s ease;
}
.v-time {
  width: 5rem;
  color: var(--soft-blue);
}
.creator {
  width: 100%;
  display: flex;
  align-items: center;
}
.creator img {
  width: 1.8rem;
  border-radius: 50%;
  border: 1px solid white;
  object-fit: contain;
  margin-right: 1rem;
}
.creator .name {
  display: flex;
  align-items: center;
  color: var(--soft-blue);
  font-size: 0.85rem;
}
.creator .name span {
  color: white;
  margin-left: 0.3rem;
}

/* cursor : pointers */
.title,
.val,
.v-time,
.creator img,
.creator span {
  cursor: pointer;
}

/* transitions */
.val:hover img {
  transform: rotatez(-15deg) translateY(-1px) translateX(-1px);
  filter: drop-shadow(0 0 10px var(--cyan));
}
.v-time img {
  transition: transform 0.5s ease, filter 0.4s ease;
}
.v-time:hover img {
  transform: rotate(-45deg);
  filter: contrast(10) drop-shadow(0 0 10px var(--cyan));
}
.v-time:hover span {
  color: white;
}
.creator {
  width: 100%;
  height: max-content;
  padding-bottom: 1.3rem;
  transition: transform 0.25s ease, padding-left 0.5s ease;
}
.creator:hover {
  height: 4rem;
  padding-left: 1.5rem;
  transform: scale(1.2);
}
.creator span {
  transition: color 0.25s ease;
}
.creator span:hover {
  color: var(--cyan);
}
.creator img {
  transition: transform 0.25s ease;
}
.creator img:hover {
  transform: scale(1.2) rotateZ(-10deg);
}
.top:hover i {
  transform: scale(1);
}
i:hover ~ .nft-img {
  filter: grayscale(0.5) blur(1px) brightness(0.5);
}
.top:hover .nft-img {
  transform: scale(2) translateY(-0.5rem);
  transition: transform 8s cubic-bezier(0.07, 0.24, 0, 1), filter 0.3s ease;
}
.top:hover .eye-icon {
  opacity: 1;
  padding: 6rem;
}
